<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="main-content">

    <div class="page-content">
        <div class="container-fluid">

            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                        <h4 class="">Product Management</h4>

                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="javascript: void(0);">Admin</a></li>
                                <li class="breadcrumb-item active">Product Management</li>
                                <li class="breadcrumb-item active">Add Product</li>
                            </ol>
                        </div>

                    </div>
                </div>
            </div>
            <!-- end page title -->

            <section class="content-main" style="max-width: 720px">

                <div class="content-header">
                    <h2 class="content-title">Create product </h2>
                </div>

                <div class="card mb-4">
                    <div class="card-body">
                        <form id="uploadForm">
                            <div class="mb-4">
                                <label for="product_name" class="form-label">Product Name</label>
                                <input type="text" name="productname" placeholder="Enter Product Name"
                                    class="form-control" id="product_name">
                            </div>

                            <div class="mb-4">
                                <label class="form-label">Product description</label>
                                <textarea name="productdiscription" placeholder="Type here" id="product_description"
                                    class="form-control" rows="4"></textarea>
                            </div>

                            <div class="row gx-2">
                                <div class="col-sm-6 mb-3">
                                    <label class="form-label">Price</label>
                                    <input type="text" name="productPrice" placeholder="Enter Price"
                                        class="form-control" id="product_price">
                                </div>
                                <div class="col-sm-6 mb-3">
                                    <label class="form-label">Quantity</label>
                                    <input type="text" name="productQuantity" placeholder="Enter Quantity"
                                        class="form-control" id="product_quantity">
                                </div>
                            </div> <!-- row.// -->

                            <div class="row gx-2">
                                <div class="col-sm-6 mb-3">
                                    <label class="form-label">Size</label>
                                    <input type="text" name="productSize" placeholder="Enter Size" class="form-control"
                                        id="product_size">
                                </div>
                                <div class="col-sm-6 mb-3">
                                    <label class="form-label">Colour</label>
                                    <input type="text" name="productColour" placeholder="Enter Colour"
                                        class="form-control" id="product_colour">
                                </div>
                            </div> <!-- row.// -->

                            <div class="row gx-2">
                                <div class="col-sm-6 mb-3">
                                    <label class="form-label">Category</label>
                                    <select id="getSubCat" onchange="getSubcategory()" class="form-select"
                                        name="productcategory">

                                        <%for(var i=0;i<data.length;i++){%>

                                            <option>
                                                <%=data[i].category%>
                                            </option>
                                            <%}%>

                                    </select>
                                </div>
                                <div class="col-sm-6 mb-3">
                                    <label class="form-label">Sub-category</label>
                                    <select id="subcategory" class="form-select" name="productsubcategory">

                                        <option id="" value=" "> </option>

                                    </select>
                                </div>
                            </div> <!-- row.// -->



                            <div class="mb-4">
                                <label class="form-label">Images</label>
                                <input class="form-control" type="file" name="productimage3">
                            </div>

                            <div class="mb-4">
                                <label class="form-label">Images</label>
                                <input class="form-control" type="file" name="productimage4">
                            </div>

                            <button type="submit" onclick="addProduct()" class="btn btn-primary">Add item</button>

                        </form>
                    </div>
                </div> <!-- card end// -->


            </section> <!-- content-main end// -->
        </div>
        <!-- End Page-content -->
    </div>
    <!-- end main content-->

</div>
<!-- END layout-wrapper -->


<!-- JAVASCRIPT -->
<script src="/admin/libs/jquery/jquery.min.js"></script>
<script src="/admin/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/admin/libs/simplebar/simplebar.min.js"></script>
<script src="/admin/libs/node-waves/waves.min.js"></script>
<script src="/admin/libs/metismenu/metisMenu.min.js"></script>

<!-- Crop Image -->
<!-- <script src="croppie.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/croppie/{version}/croppie.min.js"></script>

</body>

<!-- card end// -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>


<script type="text/javascript">
    function getSubcategory() {

        let category = $('#getSubCat').val()
        $.ajax({

            url: '/admin/getSubCategory',
            method: 'post',
            data: { category: category },
            success: (response) => {

                // $('#subcategory').html = ''
                $("#subcategory").find('option').remove();
                for (var i = 0; i < response.length; i++) {

                    $("#subcategory").append('<option >' + response[i].name + '</option>');
                    // let sub = <option>response[i].name</option>
                    // $('#subcategory').html+= sub
                }

            }

        })
    }


    // validation

    function addProduct() {

        event.preventDefault()

        let productname = $('#product_name').val()
        let productdiscription = $('#product_description').val()
        let productprice = $('#product_price').val()
        let productquantity = $('#product_quantity').val()
        let productsize = $('#product_size').val()
        let productcolour = $('#product_colour').val()
        let productcategory = $('#getSubCat').val()
        let productsubcategory = $('#subcategory').val()

        // product name
        let productNameError = true;

        function validateProductName() {

            let productname = $('#product_name').val()
            if (productname.length == '') {

                $('#product_name').css('border-color', '#c70d0d')
                $('#product_name').attr("placeholder", "Enter Product Name")
                productNameError = false;
                return false;

            }
        }

        // product discription
        let productDisError = true;

        function validateProductDiscription() {

            let productdiscription = $('#product_description').val()
            if (productdiscription.length == '') {

                $('#product_description').css('border-color', '#c70d0d')
                $('#product_description').attr("placeholder", "Enter Product Details")
                productDisError = false;
                return false;

            }
        }

        // product price
        let productPriceError = true;

        function validateProductPrice() {

            let regnum = new RegExp("^[0-9]+$");
            let productprice = $('#product_price').val()
            if (productprice.length == '') {

                $('#product_price').css('border-color', '#c70d0d')
                $('#product_price').attr("placeholder", "Enter Price")
                productPriceError = false;
                return false;

            }else if (!regnum.test(productprice)) {

                $('#product_price').css('border-color', '#c70d0d')
                $("#product_price").after('<span style="color: red;" class="">Enter Numbers Only</span>');

                // $("#signup_email").after('<span class="error">Enter a valid email address.</span>');

                productPriceError = false;
            }
        }

        // product quantity
        let productQuantityError = true;

        function validateProducQuantity() {

            let regnum = new RegExp("^[0-9]+$");
            let productquantity = $('#product_quantity').val()
            if (productquantity.length == '') {

                $('#product_quantity').css('border-color', '#c70d0d')
                $('#product_quantity').attr("placeholder", "Enter Quantity")
                productQuantityError = false;
                return false;

            }else if (!regnum.test(productquantity)) {

                $('#product_quantity').css('border-color', '#c70d0d')
                $("#product_quantity").after('<span style="color: red;" class="">Enter Numbers Only</span>');

                // $("#signup_email").after('<span class="error">Enter a valid email address.</span>');

                productQuantityError = false;
            }
        }
        // product size
        let productSizeError = true;

        function validateProducSize() {

            let productsize = $('#product_size').val()
            if (productsize.length == '') {

                $('#product_size').css('border-color', '#c70d0d')
                $('#product_size').attr("placeholder", "Enter Size")
                productSizeError = false;
                return false;

            }
        }
        // product colour
        let productColourError = true;

        function validateProducColour() {

            let productcolour = $('#product_colour').val()
            if (productcolour.length == '') {

                $('#product_colour').css('border-color', '#c70d0d')
                $('#product_colour').attr("placeholder", "Enter Colour")
                productSizeError = false;
                return false;

            }
        }
        // product category
        let productCategoryError = true;

        function validateProducCategory() {

            let productcategory = $('#getSubCat').val()
            if (productcategory.length == '') {

                $('#getSubCat').css('border-color', '#c70d0d')
                $('#getSubCat').attr("placeholder", "Select Category")
                productCategoryError = false;
                return false;

            }
        }
        // product subCategory
        let productSubCategoryError = true;

        function validateProducSubCategory() {

            let productsubcategory = $('#subcategory').val()
            if (productsubcategory.length == '') {

                $('#subcategory').css('border-color', '#c70d0d')
                $('#subcategory').attr("placeholder", "Select SubCategory")
                productSubCategoryError = false;
                return false;

            }
        }

        let addedProducts = {

            productname : $('#product_name').val(),
            productdiscription : $('#product_description').val(),
            productprice : $('#product_price').val(),
            productquantity : $('#product_quantity').val(),
            productsize : $('#product_size').val(),
            productcolour : $('#product_colour').val(),
            productcategory : $('#getSubCat').val(),
            productsubcategory : $('#subcategory').val()

        }
        // let form = $('#uploadForm')[0]
        // let data = new FormData(form)

        console.log(addedProducts);

        validateProductName()
        validateProductDiscription()
        validateProductPrice()
        validateProducQuantity()
        validateProducSize()
        validateProducColour()
        validateProducCategory()
        validateProducSubCategory()

        if(productNameError===true && productDisError===true && productPriceError===true && productQuantityError===true && productSizeError===true && productColourError===true && productCategoryError===true && productSubCategoryError===true){

            $.ajax({

                // url:'/admin/add_product',
                // method:'post',
                // data:addedProducts
            })


        }


    }



</script>