<!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="main-content">

                <div class="page-content">
                    <div class="container-fluid">

                        <!-- start page title -->
                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                                    <h4 class="mb-sm-0">Users</h4>

                                    <div class="page-title-right">
                                        <ol class="breadcrumb m-0">
                                            <li class="breadcrumb-item"><a href="javascript: void(0);">Admin</a></li>
                                            <li class="breadcrumb-item active">User</li>
                                        </ol>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- end page title -->
                        
                        <!-- <div class="content-header d-flex justify-content-between">
                            <h2 class="content-title">Users list</h2>
                            <div>
                                <a href="#" class="btn btn-primary l-0"><i class="material-icons md-plus"></i> Create new</a>
                            </div>
                        </div> -->
                    
                        <div class="card mb-4">
                            <div class="card-body">
                    
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th>Seller</th>
                                                <th>Email</th>
                                                <th>Status</th>
                                                <th>Registered</th>
                                                <th class="text-end"> Action </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td width="40%">
                                                    <a href="#" class="itemside">
                                                        <div class="left">
                                                        </div>
                                                        <div class="info pl-3">
                                                            <h6 class="mb-0 title">Eleanor Pena</h6>
                                                            <small class="text-muted">Seller ID: #439</small>
                                                        </div>
                                                    </a>
                                                </td>
                                                <td>eleanor2020@example.com</td>
                                                <td><span class="badge rounded-pill alert-success">Active</span></td>
                                                <td>08.07.2020</td>
                                                <td class="text-end">
                                                    <a href="#" class="btn btn-light" style="width: 110px;">Block</a>
                                                </td>
                                            </tr>
                                            
                                        </tbody>
                                    </table> <!-- table-responsive.// -->
                                </div>
                    
                            </div> <!-- card-body end// -->
                        </div> 
                </div>
                <!-- End Page-content -->
            </div>
            <!-- end main content-->

        </div>
        <!-- END layout-wrapper -->

        <!-- JAVASCRIPT -->
        <script src="/admin/libs/jquery/jquery.min.js"></script>
        <script src="/admin/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="/admin/libs/simplebar/simplebar.min.js"></script>

        <!-- apexcharts js -->
        <script src="/admin/libs/apexcharts/apexcharts.min.js"></script>

        <!-- jquery.vectormap map -->
        <script src="/admin/libs/jqvmap/jquery.vmap.min.js"></script>
        <script src="/admin/libs/jqvmap/maps/jquery.vmap.usa.js"></script>

        <script src="/admin/js/pages/dashboard.init.js"></script>

        <script src="/admin/js/app.js"></script>

    </body>

    <!-- card end// -->


