<body data-sidebar="dark" id="reload" >
    
    <!-- <body data-layout="horizontal" data-topbar="dark"> -->

        <!-- Begin page -->
        <div id="layout-wrapper">

            
            <header id="page-topbar">
                <div class="navbar-header">
                    <div class="d-flex">
                        <!-- LOGO -->
                        <div class="navbar-brand-box text-center">
                            
                        </div>

                        <button type="button" class="btn btn-sm px-3 font-size-24 header-item waves-effect" id="vertical-menu-btn">
                            <!-- <i class="ri-menu-2-line align-middle"></i> -->
                        </button>

                        <!-- App Search-->
                        <form class="app-search d-none d-lg-block">
                            <div class="position-relative">
                                <input type="text" class="form-control" placeholder="Search...">
                                <span class="ri-search-line"></span>
                            </div>
                        </form>
                    </div>
                </div>
            </header>

            <!-- ========== Left Sidebar Start ========== -->
            <div class="vertical-menu">

                <div data-simplebar class="h-100">

                    <!--- Sidemenu -->
                    <div id="sidebar-menu">
                        <!-- Left Menu Start -->
                        <ul class="metismenu list-unstyled" id="side-menu">
                            <li class="menu-title">Menu</li>

                            <li>
                                <a href="/admin/Dashboard" class="waves-effect">
                                    <i class="mdi mdi-home-variant-outline"></i>
                                    <span>Dashboard</span>
                                </a>
                            </li>

                            <li>
                                <a href="/admin/products" class=" waves-effect">
                                    <i class="mdi mdi-calendar-outline"></i>
                                    <span>Product Management</span>
                                </a>
                            </li>

                            <li>
                                <a href="/admin/categories" class="waves-effect">
                                    <i class="mdi mdi-email-outline"></i>
                                    <span>Category Management</span>
                                </a>
                            </li>
                            <li>
                                <a href="/admin/Orders" class="waves-effect">
                                    <i class="mdi mdi-gradient"></i>
                                    <span>Orders</span>
                                </a>
                            </li>
                            <li>
                                <a href="/admin/users" class=" waves-effect">
                                    <i class="mdi mdi-account-circle-outline"></i>
                                    <span>Users</span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript: void(0);" class="has-arrow waves-effect">
                                    <i class="mdi mdi-page-layout-header"></i>
                                    <span>Coupon and Offers</span>
                                </a>
                                <ul class="sub-menu" aria-expanded="false">
                                    <li><a href="/admin/Coupon">Coupon</a></li>
                                    <li><a href="/admin/category_offer">Category Offers</a></li>
                                    <li><a href="/admin/product_offers">Product Offers</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="/admin/logout" class=" waves-effect">
                                    <i class="mdi mdi-account-circle-outline"></i>
                                    <span>Logout</span>
                                </a>
                            </li>
                    </div>
                    <!-- Sidebar -->
                </div>
            </div>
            <!-- Left Sidebar End -->