<body>
    <div class="page-wrapper">
        <!-- Start of Header -->
        <header class="header">
            <div class="header-top">
                <div class="container">
                    <div class="header-left">
                        
                    </div>
                    <div class="header-right">
                        
                        <!-- End of Dropdown Menu -->
                        <%if(user.status){%>
                            <a href="javascript:void(0)" style="font-size: 14px;" class="d-lg-show"><b>Hi <%=user.name%></b></a>
                            <a href="/my_account" style="font-size: 14px;" class="d-lg-show">My Account</a>
                            <a href="javascript:void(0);" onclick="signOut()" style="font-size: 14px;" class="d-lg-show"><i
                                class="w-icon-account" ></i>Sign out</a>
                        <%}else{%>

                            <a href="/login" style="font-size: 14px;" class="d-lg-show"><i
                                class="w-icon-account"></i>Sign In <span class="delimiter d-lg-show">/</span>Register</a>
                            <!-- <span class="delimiter d-lg-show">/</span>
                            <a href="/user/ajax/login.html" class="ml-0 d-lg-show login register">Register</a> -->
                        <%}%>
                        
                    </div>
                </div>
            </div>
            <!-- End of Header Top -->

            <div class="header-middle">
                <div class="container">
                    <div class="header-left mr-md-4">
                        <a href="#" class="mobile-menu-toggle  w-icon-hamburger" aria-label="menu-toggle">
                        </a>
                        <a href="demo1.html" class="logo ml-lg-0">
                            <img src="/user/images/logo.png" alt="logo" width="144" height="45" />
                        </a>
                        <form method="get" action="#" class="header-search hs-expanded hs-round d-none d-md-flex input-wrapper">
                            <div class="select-box">
                                <select id="category" name="category">
                                    <option value="">All Categories</option>
                                    <option value="4">Fashion</option>
                                    <option value="5">Furniture</option>
                                    <option value="6">Shoes</option>
                                    <option value="7">Sports</option>
                                    <option value="8">Games</option>
                                    <option value="9">Computers</option>
                                    <option value="10">Electronics</option>
                                    <option value="11">Kitchen</option>
                                    <option value="12">Clothing</option>
                                </select>
                            </div>
                            <input type="text" class="form-control" name="search" id="search"
                                placeholder="Search in..." required />
                            <button class="btn btn-search" type="submit"><i class="w-icon-search"></i>
                            </button>
                        </form>
                    </div>
                    <%if(user.status){%>
                    <div class="header-right ml-4">
                        
                        <a class="wishlist label-down link d-xs-show" href="/wishlist">
                            <i class="w-icon-heart"></i>
                            <span class="wishlist-label d-lg-show">Wishlist</span>
                        </a>
                       
                        <div class="dropdown cart-dropdown  mr-0 mr-lg-2">
                            <a href="/cart" class="cart-toggle label-down link">
                                <i class="w-icon-cart">
                                    <span class="cart-count">2</span>
                                </i>
                                <span class="cart-label">Cart</span>
                            </a>
                            
                        </div>
                        <%}%>
                    </div>
                </div>
            </div>
            <!-- End of Header Middle -->

            <div class="header-bottom sticky-content fix-top sticky-header">
                <div class="container">
                    <div class="inner-wrap">
                        <div class="header-left"> 
                            <nav class="main-nav">
                                <ul class="menu active-underline">
                                    
                                    <%for(var i=0;i<data.length;i++){%>
                                        
                                    <li>
                                        <a href="#"><%=data[i].category%></a>
                                        
                                        <ul>
                                            <%for(var j=0;j<data[i].subCategory.length;j++){%>
                                                <li>
                                                    <a href="vendor-dokan-store-list.html"><%=data[i].subCategory[j].name%></a>
                                            
                                                </li>
                                            <%}%>
                                        </ul>
                                        
                                    </li>
                                    <%}%>
                                    
                                </ul>
                            </nav>
                        </div>
                        <div class="header-right">
                           
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- End of Header -->

        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>

        <script>
            
            // signOut
            function signOut(){
                console.log("inside");
                $.ajax({

                    url:'/signout',
                    method:'post',
                    success:()=>{
                        location.reload()
                    }

                })
            }

        </script>