<script src="https://apis.google.com/js/platform.js" async defer></script>

<!-- Start of Main -->
<main class="main login-page">
    <!-- Start of Page Header -->
    <div class="page-header">
        <div class="container">
            <h1 class="page-title mb-0">My Account</h1>
        </div>
    </div>
    <!-- End of Page Header -->

    <!-- Start of Breadcrumb -->
    <nav class="breadcrumb-nav">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="/">Home</a></li>
                <li>My account</li>
            </ul>
        </div>
    </nav>
    <!-- End of Breadcrumb -->
    <!-- <div id="pageloader">
        <img src="http://cdnjs.cloudflare.com/ajax/libs/semantic-ui/0.16.1/images/loader-large.gif" alt="processing..." />
     </div> -->
    <div class="page-content">
        <div class="container" id="loginpop">
            <div class="login-popup" id="changediv">
                <div class="tab tab-nav-boxed tab-nav-center tab-nav-underline">
                    <ul class="nav nav-tabs text-uppercase" role="tablist">
                        <li class="nav-item">
                            <a href="#sign-in" class="nav-link active">Sign In</a>
                        </li>
                        <li class="nav-item">
                            <a href="#sign-up" class="nav-link">Sign Up</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="sign-in">
                            <form>
                                <div class="form-group">
                                    <label>Username *</label>
                                    <input type="text" class="form-control your-class" name="username" id="usernames">

                                </div>
                                <div class="form-group mb-5">
                                    <label>Password *</label>
                                    <input type="text" class="form-control your-class" name="password" id="password">

                                    <p id="block_warning" style="color: red;"> </p>
                                </div>
                                <h5 style="color: red;">
                                    <%=loginErr%>
                                </h5>
                                <!-- <div class="form-checkbox d-flex align-items-center justify-content-between">
                                    <input type="checkbox" class="custom-checkbox" id="remember1" name="remember1" required="">
                                    <label for="remember1">Remember me</label>
                                    <a href="#">Last your password?</a>
                                </div> -->
                                <button type="submit" onclick="logCheck()" style="width: 100%;" id="submitbtn"
                                    class="btn btn-dark">Sign In</button>
                            </form>
                            <!-- sample -->
                            <div class="row gx-2 mt-5 text-center">
                                <!-- <form action="otpLoad"> -->
                                <div class="col-sm-6 mb-3">
                                    <button type="submit" onclick="otpfn()" style="width: 100%;" id="submitbtn"
                                        class="btn btn-success">OTP</button>
                                    <p class="pt-1" style="font-size: 10px;">Login using Mobile Number</p>
                                </div>
                                <!-- </form> -->
                                <div class="col-sm-6 mb-3">
                                    <div class="g-signin2" data-onsuccess="onSignIn"></div>
                                </div>
                            </div> <!-- row.// -->
                            <!-- End sample -->
                            <!-- <p class="text-center">Sign in with social account</p>
                            <div class="social-icons social-icon-border-color d-flex justify-content-center">
                                <a href="#" class="social-icon 1.4rem 0rem 1.3rem 2rem social-google fab fa-google"></a>
                            </div> -->
                        </div>
                        <div class="tab-pane" id="sign-up">
                            <form>
                                <div class="form-group">
                                    <label>Full Name *</label>
                                    <input type="text" class="form-control your-class" name="name" id="name">
                                </div>
                                <div class="form-group mb-5">
                                    <label id="ulabel">username *</label>
                                    <input type="text" class="form-control your-class" name="username"
                                        id="signup_username">
                                    <p id="username_warning" style="color: red;"> </p>
                                </div>
                                <div class="form-group mb-5">
                                    <label>Email *</label>
                                    <input type="text" class="form-control your-class" name="email" id="signup_email">
                                    <span style="color: red;" id="emailwarn" class=""></span>
                                    <p id="email_warning" style="color: red;"> </p>
                                </div>
                                <div class="form-group mb-5">
                                    <label>Mobile *</label>
                                    <input type="text" class="form-control your-class" name="mobile" id="mobile">
                                    <span style="color: red;" id="mobilewarn" class=""></span>
                                    <p id="mobile_warning" style="color: red;"> </p>
                                </div>
                                <div class="form-group mb-5">
                                    <label>Password *</label>
                                    <input type="text" class="form-control your-class" name="password"
                                        id="signup_password">

                                </div>
                                <div class="form-group">
                                    <label>Refferal Code (If Any)</label>
                                    <input type="text" class="form-control your-class" name="referal_code"
                                        id="referal_code">
                                        <p id="refferal_warning" style="color: red;"> </p>
                                </div>
                                <button type="submit" style="width: 100%;" onclick="signUp()" class="btn btn-dark">Sign
                                    Up</button>
                            </form>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</main>
<!-- End of Main -->


<!-- START OTP -->



<!-- End otp -->

<!-- Plugin JS File -->
<script src="/user/vendor/jquery/jquery.min.js"></script>
<script src="/user/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
<script src="/user/js/main.min.js"></script>



<!-- ajax -->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>


<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>


<script>


    // google sign in
    function onSignIn(googleUser) {
        console.log("hereeeeeeeeee");
        var id_token = googleUser.getAuthResponse().id_token;
        $.ajax({
            url: '/signin-with-google',
            method: 'post',
            data: { token: id_token },
            success: (responce) => {

                location.href = '/'

            }
        })
    }


    // signIn validation started.
    function logCheck() {

        event.preventDefault()

        // Validate Username
        let usernameError = true;

        function validateUsername() {

            let usernameValue = $('#usernames').val();
            if (usernameValue.length == '') {

                $('#usernames').css('border-color', '#c70d0d')
                $('#usernames').attr("placeholder", "Enter Username")
                usernameError = false;
                return false;

            } else {

            }
        }

        // Validate Password
        let passwordError = true;

        function validatePassword() {

            let passwrdValue =
                $('#password').val();
            if (passwrdValue.length == '') {

                $('#password').css('border-color', '#c70d0d')
                $('#password').attr("placeholder", "Enter Password")
                passwordError = false;
                return false;
            }
        }


        let userValue = {
            username: $('#usernames').val(),
            password: $('#password').val()
        }

        console.log("value" + userValue);
        validateUsername();
        validatePassword();


        let block_err = $('#block_warning')


        if (usernameError === true && passwordError === true) {

            $.ajax({

                url: '/signIn',
                method: 'post',
                data: userValue,
                success: (data) => {

                    if (data.status === false) {

                        block_err.text(data.errormsg)

                    } else {

                        location.reload()
                    }
                }
            })
        }
    };

    // signIn validation end.



    // SignUp validation

    function signUp() {

        event.preventDefault()
        // Validate Username  

        let nameError = true;

        function validateName() {

            let nameValue = $('#name').val()

            if (nameValue.length == '') {

                $('#name').css('border-color', '#c70d0d')
                $('#name').attr("placeholder", "Enter Username")

                nameError = false;
                return false;
            }
        }

        let usernameError = true;

        function validateUsername() {

            let usernameValue = $('#signup_username').val();

            if (usernameValue.length == '') {

                $('#signup_username').css('border-color', '#c70d0d')
                $('#signup_username').attr("placeholder", "Enter Username")

                usernameError = false;
                return false;

            }
        }

        // Validate Email

        let emailError = true;

        function validateEmail() {

            var emailReg = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/;

            var emailaddressVal = $("#signup_email").val();

            if (emailaddressVal == '') {

                $('#signup_email').css('border-color', '#c70d0d')
                $('#signup_email').attr("placeholder", "Enter Email")

                emailError = false;
            }

            else if (!emailReg.test(emailaddressVal)) {

                $('#signup_email').css('border-color', '#c70d0d')
                $("#emailwarn").text('Enter a valid email address')
                emailError = false;
            }
        }


        // mobile validation
        let mobileError = true;

        function validateMobile() {

            let regnum = new RegExp("^[0-9]+$");

            let mobileValue = $('#mobile').val();

            if (mobileValue.length == '') {

                $('#mobile').css('border-color', '#c70d0d')
                $('#mobile').attr("placeholder", "Enter Number")

                mobileError = false;
                return false;
            } else if (!regnum.test(mobileValue)) {

                $('#mobile').css('border-color', '#c70d0d')
                $("#mobilewarn").text('Enter Numbers Only')

                mobileError = false;
            } else if (mobileValue.length != 10) {

                $('#mobile').css('border-color', '#c70d0d')
                $("#mobilewarn").text('Mobile number must Contain 10 Digit')

                mobileError = false;
            }

        }



        // Validate Password

        let passwordError = true;

        function validatePassword() {

            let passwrdValue = $('#signup_password').val();

            if (passwrdValue.length == '') {

                $('#signup_password').css('border-color', '#c70d0d')
                $('#signup_password').attr("placeholder", "Enter Password")

                passwordError = false;
                return false;
            }

        }



        let userSignupValue = {

            name: $('#name').val(),
            username: $('#signup_username').val(),
            email: $('#signup_email').val(),
            mobile: $('#mobile').val(),
            password: $('#signup_password').val(),
            referal_code: $('#referal_code').val()


        }

        validateName()
        validateUsername();
        validatePassword();
        validateMobile();
        validateEmail();

        let username_err = $('#username_warning')
        let email_err = $('#email_warning')
        let mobile_err = $('#mobile_warning')
        let refferal_err = $('#refferal_warning')
        
        


        if (usernameError === true && passwordError === true && emailError === true) {

            $.ajax({

                url: '/validate',
                method: 'post',
                data: userSignupValue,
                success: (data) => {
                    console.log(data);
                    if (data.err) {

                        Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: 'Otp Server Down Try again after some times!',
                        })
                    }
                    if (data.status) {

                        if (data.otp) {
                            mobile_err.text(data.otp)
                        } else {

                            let change = document.getElementById('changediv')

                            change.innerHTML = `<div class="tab-pane" id="sign-up">
                                                <form>
                                                    <div class="form-group">
                                                        <label>Enter OTP *</label>
                                                        <input type="text" class="form-control your-class" value="${userSignupValue.mobile}" name="mobile" id="resend_otp_mobile" style="display:none">
                                                        <div id="otp" class=" inputs d-flex flex-row justify-content-center justify-content-between mt-2">
                                                            <input class="m-2 inputs text-center rounded" type="text" id="first" maxlength="1" />
                                                            <input class="m-2 inputs text-center rounded" type="text" id="second" maxlength="1" />
                                                            <input class="m-2 inputs text-center rounded" type="text" id="third" maxlength="1" />
                                                            <input class="m-2 inputs text-center rounded" type="text" id="fourth" maxlength="1" />
                                                            <input class="m-2 inputs text-center rounded" type="text" id="fifth" maxlength="1" />
                                                            <input class="m-2 inputs text-center rounded" type="text" id="sixth" maxlength="1" />
                                                        </div>
                                                        <span style="color: red;" id="validation"></span>
                                                        <p id="invalidotp1" style="color: red;"> </p>
                                                    </div>
                                                    <div class="row">
                                                        <div class=" col-6">
                                                            <p id="invalidnumber" style="color: red;"> </p>
                                                        </div>
                                                        <div class=" col-6">
                                                            <a href="javascript:void(0)" onclick='resend()' id="resend" class="nav-link active" style="display:none" >Resend</a>
                                                            <a href="javascript:void(0)" style="cursor: default;" id="counter" class="nav-link active"></a>
                                                        </div>
                                                    </div>
                                                    <button type="submit" style="width: 100%;" onclick="Otp()" class="btn btn-success">Verify Number</button>
                                                </form>
                                            </div>`
                            Swal.fire({
                                position: 'bottom-center',
                                icon: 'success',
                                title: 'OTP Send successfully',
                                showConfirmButton: false,
                                timer: 1500
                            })
                            $("#invalidnumber").text('OTP Sent Successfully')
                            $('#otp').removeAttr('disabled')
                            $('#Otpsubmit').removeAttr('disabled')

                            let resendButton = document.getElementById('resend').style.display = 'none'
                            // resendButton.style.display = ""
                            const StringMinitue = .5
                            let time = StringMinitue * 60
                            var countdownElement = document.getElementById('counter')
                            let timer = setInterval(updateCounter, 1000)
                            function updateCounter() {
                                const minutes = Math.floor(time / 60)
                                let seconds = time % 60
                                seconds = seconds < 2 ? '0' + seconds : seconds
                                countdownElement.innerHTML = `${minutes}:${seconds}`
                                time--
                                if (minutes == 0 && seconds == 0) {

                                    let resendButton = document.getElementById('resend').style.display = 'block'
                                    let counter = document.getElementById('counter').style.display = 'none'
                                    clearInterval(timer)
                                }
                            }

                            $(".inputs").keyup(function () {
                                if (this.value.length == this.maxLength) {
                                    var $next = $(this).next('.inputs');
                                    if ($next.length)
                                        $(this).next('.inputs').focus();
                                    else
                                        $(this).blur();
                                }
                            });
                        }


                    } else {
                        console.log(data);
                        username_err.text(data.username)
                        email_err.text(data.email)
                        mobile_err.text(data.mobile)
                        refferal_err.text(data.referal)


                    }
                }
            })
        }
    };


    function resend() {
        alert('here')
        event.preventDefault()
        let mobile = $('#resend_otp_mobile').val()
        alert(mobile)
        $.ajax({
            url: '/resend',
            method: 'post',
            data: { mobile: mobile },
            success: () => {
                Swal.fire({
                    position: 'bottom-center',
                    icon: 'success',
                    title: 'OTP Send successfully',
                    showConfirmButton: false,
                    timer: 1500
                })

                let resendButton = document.getElementById('resend').style.display = 'none'
                let counter = document.getElementById('counter').style.display = 'block'


                $("#invalidnumber").text('OTP Sent Successfully')
                $('#otp').removeAttr('disabled')
                $('#Otpsubmit').removeAttr('disabled')

                document.getElementById('resend').style.display = 'none'
                // resendButton.style.display = ""
                const StringMinitue = .5
                let time = StringMinitue * 60
                var countdownElement = document.getElementById('counter')
                let timer = setInterval(updateCounter, 1000)
                function updateCounter() {
                    const minutes = Math.floor(time / 60)
                    let seconds = time % 60
                    seconds = seconds < 2 ? '0' + seconds : seconds
                    countdownElement.innerHTML = `${minutes}:${seconds}`
                    time--
                    if (minutes == 0 && seconds == 0) {

                        let resendButton = document.getElementById('resend').style.display = 'block'
                        let counter = document.getElementById('counter').style.display = 'none'
                        clearInterval(timer)
                    }
                }
            }

        })
    }



    function Otp() {

        console.log("otp");
        event.preventDefault()
        let first = $('#first').val()
        let second = $('#second').val()
        let third = $('#third').val()
        let fourth = $('#fourth').val()
        let fifth = $('#fifth').val()
        let sixth = $('#sixth').val()

        let otp = first + second + third + fourth + fifth + sixth



        let mobilenumber = $('#mobilenumber').val()
        let otp_Err = true
        let regnum = new RegExp("^[0-9]+$");
        if (otp.length == '') {

            $('#validation').html("Enter OTP")

        } else if (!regnum.test(otp)) {

            $('#invalidotp1').text('Only Number Allowed')
        } else if (otp.length != 6) {

            $('#invalidotp1').text("OTP must 6 number")
        } else {

            $.ajax({

                url: '/otpvalidate',
                method: 'post',
                data: {
                    number: mobilenumber,
                    otp: otp
                },
                success: (response) => {

                    if (response.err === true) {

                        $('#invalidotp1').text('Something Went wrong')
                    } else if (response.valid === false) {

                        $('#invalidotp1').text('Invalid OTP')
                    } else {

                        location.reload()
                    }
                }
            })
        }
    }


    function otpfn() {

        event.preventDefault()

        let div = $('#loginpop')

        div.html(`



        <div class="container">
            <div class="login-popup">
                <div class="tab tab-nav-boxed tab-nav-center tab-nav-underline">
                    <ul class="nav nav-tabs text-uppercase" role="tablist">
                        <li class="nav-item">
                            <a href="#sign-in" class="nav-link active">OTP Login</a>
                        </li>

                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="sign-in">
                            <form>
                                <div class="form-group">
                                    <label>Mobile Number<span style="color: red;">*</span></label>
                                    <input type="text" class="form-control your-class" name="mobilenumber" onchange="mobileNumber()" id="mobilenumber">
                                    <div class="row">
                                        <div class=" col-6">
                                            <p id="invalidnumber" style="color: red;"> </p>
                                        </div>
                                        <div class=" col-6">
                                            <a href="javascript:void(0)" onclick = "mobileNumber()" id="resend" class="nav-link active" style="display:none" >Resend</a>
                                            <a href="javascript:void(0)" style="cursor: default;" id="counter" class="nav-link active"></a>
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="form-group mb-5">
                                    <label>Enter OTP (6 Digit)<span style="color: red;">*</span></label>
                                    <div id="otp" class="inputs d-flex flex-row justify-content-center justify-content-between mt-2">
                                                            <input class="m-2 inputs text-center rounded" type="text" id="first" maxlength="1" disabled/>
                                                            <input class="m-2 inputs text-center rounded" type="text" id="second" maxlength="1" disabled/>
                                                            <input class="m-2 inputs text-center rounded" type="text" id="third" maxlength="1" disabled/>
                                                            <input class="m-2 inputs text-center rounded" type="text" id="fourth" maxlength="1" disabled/>
                                                            <input class="m-2 inputs text-center rounded" type="text" id="fifth" maxlength="1" disabled/>
                                                            <input class="m-2 inputs text-center rounded" type="text" id="sixth" maxlength="1" disabled/>
                                                        </div>
                                    <p id="invalidotp" style="color: red;"> </p>

                                    <p id="block_warning" style="color: red;"> </p>
                                </div>
                                
                                <button type="button" onclick="validateOtp()" style="width: 100%;" id="Otpsubmit" disabled
                                    class="btn btn-success">Validate</button>
                            </form>
                        </div>

                    </div>

                </div>
            </div>
        </div>
        


        `)
        $(".inputs").keyup(function () {
            if (this.value.length == this.maxLength) {
                var $next = $(this).next('.inputs');
                if ($next.length)
                    $(this).next('.inputs').focus();
                else
                    $(this).blur();
            }
        });


    }



    // otp page


    let resendButton = document.getElementById('resend').style.display = 'none'

    function mobileNumber() {


        event.preventDefault()
        let mobilenumber = $('#mobilenumber').val()
        let mobilewarn = $('#invalidnumber')


        $("#invalidnumber").text('')
        // mobile validation
        let mobileError = true;

        function validateMobile() {

            let regnum = new RegExp("^[0-9]+$");

            let mobileValue = $('#mobilenumber').val();

            if (mobileValue.length == '') {

                $('#mobilenumber').css('border-color', '#c70d0d')
                $('#mobilenumber').attr("placeholder", "Enter Number")

                mobileError = false;
                return false;
            } else if (!regnum.test(mobileValue)) {

                $('#mobilenumber').css('border-color', '#c70d0d')
                $("#invalidnumber").text('Enter Numbers Only')

                mobileError = false;
            } else if (mobileValue.length != 10) {

                $('#mobilenumber').css('border-color', '#c70d0d')
                $("#invalidnumber").text('Mobile number must Contain 10 Digit')

                mobileError = false;
            }

        }

        validateMobile()

        mobilenumber = $('#mobilenumber').val()

        if (mobileError === true) {
            $.ajax({
                url: '/checkNum',
                method: 'post',
                data: { mobilenumber: mobilenumber },
                success: (response) => {


                    if (response.status) {


                        $.ajax({

                            url: '/otpget',
                            method: 'post',
                            data: { mobilenumber: mobilenumber },
                            success: (response) => {

                                if (response.send) {

                                    Swal.fire({
                                        position: 'bottom-center',
                                        icon: 'success',
                                        title: 'OTP Send successfully',
                                        showConfirmButton: false,
                                        timer: 1500
                                    })

                                    $("#invalidnumber").text('OTP Sent Successfully')
                                    $('#first').removeAttr('disabled')
                                    $('#second').removeAttr('disabled')
                                    $('#third').removeAttr('disabled')
                                    $('#fourth').removeAttr('disabled')
                                    $('#fifth').removeAttr('disabled')
                                    $('#sixth').removeAttr('disabled')
                                    $('#Otpsubmit').removeAttr('disabled')

                                    // let resendButton = document.getElementById('resend').style.display = 'none'
                                    let counter = document.getElementById('counter').style.display = 'block'

                                    let resendButton = document.getElementById('resend').style.display = 'none'
                                    // resendButton.style.display = ""
                                    const StringMinitue = .5
                                    let time = StringMinitue * 60
                                    var countdownElement = document.getElementById('counter')
                                    let timer = setInterval(updateCounter, 1000)
                                    function updateCounter() {
                                        const minutes = Math.floor(time / 60)
                                        let seconds = time % 60
                                        seconds = seconds < 2 ? '0' + seconds : seconds
                                        countdownElement.innerHTML = `${minutes}:${seconds}`
                                        time--
                                        if (minutes == 0 && seconds == 0) {

                                            let resendButton = document.getElementById('resend').style.display = 'block'
                                            let counter = document.getElementById('counter').style.display = 'none'
                                            clearInterval(timer)
                                        }
                                    }

                                }

                            }
                        })

                    } else {

                        $("#invalidnumber").text('Number Not registered')

                    }
                }
            })
        }

    }

    function validateOtp() {



        event.preventDefault()

        let mobilenumber = $('#mobilenumber').val()

        let first = $('#first').val()
        let second = $('#second').val()
        let third = $('#third').val()
        let fourth = $('#fourth').val()
        let fifth = $('#fifth').val()
        let sixth = $('#sixth').val()

        let otp = first + second + third + fourth + fifth + sixth


        $.ajax({
            url: "/otpcheck",
            method: 'post',
            data: {
                number: mobilenumber,
                otp: otp
            },
            success: (response) => {

                if (response.err === true) {
                    $('#invalidotp').text('Something Went wrong')
                } else if (response.valid === false) {
                    $('#invalidotp').text('Invalid OTP')
                } else {
                    location.reload()

                }

            }

        })


    }



</script>